node_modules/
dist/
*.tsbuildinfo
.corepack/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
coverage/
.expo/
.expo-shared/
.env
.env.*
!.env.example
*.log
.storyteller-media/
.DS_Store
